<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <listener>
    <listener-class>cn.kk.music.listener.DaoInitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>cn.kk.music.web.DispatcherServlet</servlet-class>
    <init-param>
    		<param-name>config</param-name>
    		<param-value>/conf/context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cn.kk.music.cache.CacheListener</listener-class>
  </listener>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>cn.kk.music.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFIlter</display-name>
    <filter-name>LoginFIlter</filter-name>
    <filter-class>cn.kk.music.filter.LoginFIlter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFIlter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFIlter</filter-name>
    <url-pattern>/music/*</url-pattern>
  </filter-mapping>
</web-app>